In [11]:
import pandas as pd

In [13]:
tracking = pd.read_csv('overview.csv')

In [97]:
col = ['Name', 'SchoolWeek', 'FinalsWeek', 'MobilePantry', 'FoodRecovery', 'Misc', 'Total']
def entry(me):
    name = me.iloc[0]
    schoolWeek = pd.to_numeric(me.iloc[4:14], errors='coerce').sum()
    finals = int(me.iloc[14])
    mobile = int(me.iloc[16])
    food = int(me.iloc[18])
    if pd.isna(me.iloc[19]):
        M = 0
    else:
        M = int(me.iloc[19])
    tot = int(me.iloc[20])
    entryDf = pd.DataFrame([[name, schoolWeek, finals, mobile, food, M, tot]], columns = col)
    return(entryDf)

In [99]:
def overview(tracking):
    test = tracking.iloc[21:,1]
    if test.isna().any():
        first_nan_index = test[test.isna()].index[0]
    df = tracking.iloc[20:first_nan_index,1:22]
    overviewdf = pd.DataFrame(columns = col)
    for i in range(len(df)):
        me = df.iloc[i,:]
        overviewdf = pd.concat([overviewdf, entry(me)])
    return(overviewdf)

In [101]:
df = overview(tracking)

In [107]:
col2 = ['name', 'score']
def reputation(df):
    reputationdf = pd.DataFrame(columns = col2)
    for i in range(len(df)):
        name = df.iloc[i,0]
        score = df.iloc[i,1]/2 + df.iloc[i,2] * 2 + df.iloc[i,3] * 2 + df.iloc[i,4] * 2 + df.iloc[i,5]
        entryDf = pd.DataFrame([[name, score]], columns = col2)
        reputationdf = pd.concat([reputationdf, entryDf])
    return(reputationdf)

In [111]:
test = reputation(df)

/var/folders/2s/jp81nlm9367ffd5_91llblb00000gn/T/ipykernel_78314/2974832889.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  reputationdf = pd.concat([reputationdf, entryDf])

In [119]:
for i in range(len(test)):
    print(test.iloc[i,:])

name     Abby Li
score        0.0
Name: 0, dtype: object
name     Adithya Srinivasan
score                   8.5
Name: 0, dtype: object
name     Adrian Flores
score             16.0
Name: 0, dtype: object
name     Ahilin Raya
score            2.0
Name: 0, dtype: object
name     Alexander Cai
score              4.5
Name: 0, dtype: object
name     Alexis Kwock
score             2.0
Name: 0, dtype: object
name     Allison Lau
score           10.5
Name: 0, dtype: object
name     Allison Muller
score               2.0
Name: 0, dtype: object
name     Alyse Cho
score          5.5
Name: 0, dtype: object
name     Alyssa Bacon
score             6.0
Name: 0, dtype: object
name     Alyssa Dunlop
score              7.0
Name: 0, dtype: object
name     Amanda Esterson
score                1.5
Name: 0, dtype: object
name     Amber Rose Weschler
score                    4.0
Name: 0, dtype: object
name     Ananya Ratakonda
score                 1.5
Name: 0, dtype: object
name     Andie Tarabzooni
score                26.5
Name: 0, dtype: object
name     Angeles Pulido
score               0.0
Name: 0, dtype: object
name     Anvi Kalucha
score            50.5
Name: 0, dtype: object
name     Arnav Shah
score          23.0
Name: 0, dtype: object
name     Ashley Ou
score          8.0
Name: 0, dtype: object
name     Atharva Kudrimoti
score                  2.5
Name: 0, dtype: object
name     Brianna Lee
score            5.5
Name: 0, dtype: object
name     Brianna Weidler
score               16.5
Name: 0, dtype: object
name     Bryan Ma
score         6.0
Name: 0, dtype: object
name     Carmen Chen
score            8.0
Name: 0, dtype: object
name     Celine Tran
score            5.5
Name: 0, dtype: object
name     Charlotte Zhao
score               0.0
Name: 0, dtype: object
name     Chitra Mukherjee
score                64.0
Name: 0, dtype: object
name     Christopher Hin
score                5.5
Name: 0, dtype: object
name     Clarissa Lei
score             7.5
Name: 0, dtype: object
name     Cooper Owyang
score             37.0
Name: 0, dtype: object
name     Damon Kwan
score      139825.0
Name: 0, dtype: object
name     Daniel Helmer
score              2.0
Name: 0, dtype: object
name     David Xiao
score           6.5
Name: 0, dtype: object
name     Dean Nguyen
score            0.0
Name: 0, dtype: object
name     Divisha Singh
score              9.0
Name: 0, dtype: object
name     Dominic Olson
score             84.5
Name: 0, dtype: object
name     Emelie Anzaldo Ovando
score                      1.5
Name: 0, dtype: object
name     Evelyn Garcia
score              7.0
Name: 0, dtype: object
name     Felipe Lucero
score              7.5
Name: 0, dtype: object
name     Geeyou Lee
score           1.0
Name: 0, dtype: object
name     Genoveva Villagomez
score                   29.5
Name: 0, dtype: object
name     Haleigh Johnson
score                1.0
Name: 0, dtype: object
name     Hannah Miao
score            8.5
Name: 0, dtype: object
name     Hannah Tan
score           1.5
Name: 0, dtype: object
name     Harshal Shah
score             5.0
Name: 0, dtype: object
name     Hayven Angelique Pfister
score                         1.0
Name: 0, dtype: object
name     Hieu (Calvin) Hoang
score                    6.5
Name: 0, dtype: object
name     Isabella Navarrette
score                   11.0
Name: 0, dtype: object
name     Ishan Talwar
score             4.5
Name: 0, dtype: object
name     Jaden D'Souza
score              7.0
Name: 0, dtype: object
name     Janet Song
score           0.5
Name: 0, dtype: object
name     Jared miller
score             6.0
Name: 0, dtype: object
name     Jessica Abogado
score                5.5
Name: 0, dtype: object
name     Jessica Chin
score             6.5
Name: 0, dtype: object
name     Jessie Nguyen
score              0.5
Name: 0, dtype: object
name     Jonathan Casis
score               5.0
Name: 0, dtype: object
name     Joseph Dalessi
score              47.5
Name: 0, dtype: object
name     Joy Zheng
score         46.0
Name: 0, dtype: object
name     Juliet Lubin
score             3.5
Name: 0, dtype: object
name     Justin Jeng
score            5.0
Name: 0, dtype: object
name     Kathlyn Nicole Periquet
score                        4.0
Name: 0, dtype: object
name     Kathy Tran
score           2.5
Name: 0, dtype: object
name     Katie Huang
score            9.0
Name: 0, dtype: object
name     Katie Lau
score         12.0
Name: 0, dtype: object
name     Kayla Cabugao
score              2.0
Name: 0, dtype: object
name     Kelani Hillman
score               1.0
Name: 0, dtype: object
name     Kelly Ying
score           7.0
Name: 0, dtype: object
name     Kennedy Fayton Guzman
score                     10.0
Name: 0, dtype: object
name     Krishan Yogasundram
score                    6.0
Name: 0, dtype: object
name     Kristen Nguyen
score              81.0
Name: 0, dtype: object
name     Krupa Patel
score            2.5
Name: 0, dtype: object
name     Layne Torres
score            10.5
Name: 0, dtype: object
name     Lucas Liu
score          1.5
Name: 0, dtype: object
name     Magdalena Leal
score               4.0
Name: 0, dtype: object
name     Maggie Peña
score            3.5
Name: 0, dtype: object
name     Mali Lai
score         2.0
Name: 0, dtype: object
name     Marisol Alcaide-Abreu
score                     39.5
Name: 0, dtype: object
name     Maureene Cruz
score              8.0
Name: 0, dtype: object
name     Maya Leonard
score             4.0
Name: 0, dtype: object
name     Mckayla Ma
score           4.5
Name: 0, dtype: object
name     Meghana Balabhadruni
score                     4.0
Name: 0, dtype: object
name     Meher Khan
score           3.0
Name: 0, dtype: object
name     Mia Rivas
score          6.5
Name: 0, dtype: object
name     Miranda Vu
score           2.0
Name: 0, dtype: object
name     Naolin Palacios
score                4.0
Name: 0, dtype: object
name     Nathan Moua
score            5.5
Name: 0, dtype: object
name     Nayla Rivera-Santiago
score                      4.5
Name: 0, dtype: object
name     Newnarin Saetern
score                 3.5
Name: 0, dtype: object
name     Olivia Adams-Falconer
score                      0.5
Name: 0, dtype: object
name     Padma Lakshminarasimhan
score                        5.0
Name: 0, dtype: object
name     Palvir Sihota
score              5.0
Name: 0, dtype: object
name     Quynh Vi Pham Nguyen
score                    18.0
Name: 0, dtype: object
name     Ramya Pondicherry
score                  5.5
Name: 0, dtype: object
name     Roan Purpura Pontoniere
score                        2.0
Name: 0, dtype: object
name     Rohini Murali
score              0.5
Name: 0, dtype: object
name     Roxanne Chin
score             1.5
Name: 0, dtype: object
name     Runhe Zhu
score          7.5
Name: 0, dtype: object
name     Ryan Fwu
score         5.0
Name: 0, dtype: object
name     Saanvi Jain
score            0.0
Name: 0, dtype: object
name     Sana Husain
score            3.0
Name: 0, dtype: object
name     Sara Molina
score           56.5
Name: 0, dtype: object
name     Sasha Hohlovici
score                1.5
Name: 0, dtype: object
name     Sasha Holland
score              8.0
Name: 0, dtype: object
name     Sayed Mohamed Husain Almosawi
score                              1.5
Name: 0, dtype: object
name     Sean Abellera
score             24.5
Name: 0, dtype: object
name     Sharon Li
score          4.0
Name: 0, dtype: object
name     Siddhi Malhotra
score                4.0
Name: 0, dtype: object
name     Simran Bal
score          16.0
Name: 0, dtype: object
name     Steven Zhu
score           6.0
Name: 0, dtype: object
name     Sydney Nii
score           0.5
Name: 0, dtype: object
name     Syon Shrestha
score              0.5
Name: 0, dtype: object
name     Tarek Zabaneh
score              5.5
Name: 0, dtype: object
name     Thomas Philip
score             26.0
Name: 0, dtype: object
name     Thuy Nguyen
score            4.0
Name: 0, dtype: object
name     Tia Nguyen
score           1.0
Name: 0, dtype: object
name     Tung Linh Nguyen
score                 0.0
Name: 0, dtype: object
name     Vannah Algador
score               0.0
Name: 0, dtype: object
name     Vanshica sharma
score                3.5
Name: 0, dtype: object
name     Vivian Thieu
score             9.5
Name: 0, dtype: object
name     Yolanda Purser
score               8.0
Name: 0, dtype: object
name     Zahar King
score           8.0
Name: 0, dtype: object